@import "../lib/flat-ttrss/flat_combined_dark.css";
@import "../lib/flat-ttrss/flat_combined_dark.css";
body.ttrss_main,
body.ttrss_prefs,
#main {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
body.ttrss_main {
  background: #333;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}
body.ttrss_main :focus {
  outline: none;
}
body.ttrss_main div.post {
  padding: 0px;
  font-size: 13px;
}
body.ttrss_main div.post div.header {
  padding: 5px;
  color: #909090;
  border: 0px solid #222;
  border-bottom-width: 1px;
  background: #222;
}
body.ttrss_main div.post div.header .left,
body.ttrss_main div.post div.header .right {
  display: flex;
}
body.ttrss_main div.post div.header .row {
  display: flex;
  margin-bottom: 4px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
body.ttrss_main div.post div.header .comments {
  flex-grow: 2;
}
body.ttrss_main div.post div.header .date {
  white-space: nowrap;
}
body.ttrss_main div.post div.header img,
body.ttrss_main div.post div.header i.material-icons {
  margin: 0px 4px;
  vertical-align: middle;
  color: #777;
}
body.ttrss_main div.post div.header .title {
  flex-grow: 2;
  font-size: 15px;
  font-weight: 600;
  text-rendering: optimizelegibility;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.ttrss_main div.post div.content {
  padding: 10px;
  font-size: 16px;
}
body.ttrss_main div.post div.content img,
body.ttrss_main div.post div.content video {
  border-width: 0px;
  max-width: 98%;
  height: auto;
}
body.ttrss_main div.post div.content p {
  hyphens: auto;
}
body.ttrss_main div.post div.content iframe {
  min-width: 50%;
  max-width: 98%;
}
body.ttrss_main .inline-player {
  display: flex;
  align-items: center;
}
body.ttrss_main .inline-player audio {
  margin-right: 8px;
}
body.ttrss_main .article-note {
  background-color: #fff7d5;
  margin: 5px;
  border: 1px solid #e7d796;
  color: #9a8c59;
  display: flex;
  align-items: center;
}
body.ttrss_main .article-note > * {
  padding: 5px;
}
body.ttrss_main .article-note.editable {
  cursor: pointer;
}
body.ttrss_main h1 {
  font-size: 18px;
  font-weight: 600;
  text-rendering: optimizelegibility;
}
body.ttrss_main h2 {
  font-size: 16px;
  font-weight: 600;
  text-rendering: optimizelegibility;
}
body.ttrss_main h3 {
  font-size: 16px;
  font-weight: 600;
  text-rendering: optimizelegibility;
}
body.ttrss_main h4 {
  font-size: 14px;
  font-weight: 600;
  text-rendering: optimizelegibility;
}
body.ttrss_main a {
  color: #b87d2c;
  text-decoration: none;
}
body.ttrss_main a:hover {
  color: #664518;
  text-decoration: underline;
}
body.ttrss_main #notify.visible {
  opacity: 100;
}
body.ttrss_main #notify {
  bottom: 20px;
  right: 20px;
  min-width: 200px;
  max-width: 350px;
  border-width: 1px;
  border-style: solid;
  position: fixed;
  font-size: 14px;
  z-index: 99;
  display: flex;
  opacity: 0;
  align-items: center;
  padding: 10px;
  transition: opacity 0.2s linear;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
body.ttrss_main #notify img {
  vertical-align: middle;
}
body.ttrss_main #notify .msg {
  flex-grow: 2;
  padding: 0 10px;
  line-height: 20px;
}
body.ttrss_main #notify .icon-close {
  cursor: pointer;
}
body.ttrss_main .notify {
  border-color: #d7c47a;
  background-color: #fff7d5;
}
body.ttrss_main .notify.notify_progress {
  border-color: #d7c47a;
  background-color: #fff7d5;
}
body.ttrss_main .notify.notify_info {
  border-color: #b87d2c;
  background-color: #faf3e9;
}
body.ttrss_main .notify.notify_info i.icon-notify {
  color: #b87d2c;
}
body.ttrss_main .notify.notify_error {
  background-color: #c00;
  border-color: #900;
  color: white;
}
body.ttrss_main .notify.notify_error i.icon-notify,
body.ttrss_main .notify.notify_error i.icon-close {
  color: white;
}
body.ttrss_main .action-chooser .action-button .dijitButtonText {
  vertical-align: unset;
}
body.ttrss_main .action-chooser .action-button .dijitArrowButtonInner {
  display: none;
}
body.ttrss_main .hl {
  border: 0px solid #222;
  border-bottom-width: 1px;
  transition: color 0.2s, background 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #222;
  align-items: center;
  user-select: none;
}
body.ttrss_main .hl > * {
  white-space: nowrap;
  padding: 4px;
}
body.ttrss_main .hl img {
  vertical-align: middle;
}
body.ttrss_main .hl .left,
body.ttrss_main .hl .right {
  display: flex;
  align-items: center;
}
body.ttrss_main .hl .left i.material-icons,
body.ttrss_main .hl .right i.material-icons {
  margin-left: 2px;
  padding: 2px;
  transition: color 0.2s linear;
  user-select: none;
  font-size: 21px;
}
body.ttrss_main .hl .right i.material-icons {
  color: #777;
}
body.ttrss_main .hl div.title {
  cursor: pointer;
  flex-grow: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.ttrss_main .hl span.author {
  white-space: nowrap;
  color: #ccc;
  font-size: 11px;
  font-weight: normal;
}
body.ttrss_main .hl div.right {
  text-align: right;
}
body.ttrss_main .hl span.feed a {
  border-radius: 4px;
  display: inline-block;
  padding: 1px 4px;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  color: #ccc;
}
body.ttrss_main .hl span.feed a:hover {
  color: #b87d2c;
}
body.ttrss_main .hl span.updated {
  color: #ccc;
  text-align: right;
  font-size: 11px;
  padding-left: 10px;
}
body.ttrss_main .hl span.updated div {
  display: inline-block;
}
body.ttrss_main .hl div.left input {
  margin: 0px 4px;
}
body.ttrss_main .hl div.left img,
body.ttrss_main .hl div.right img {
  margin: 0px 4px;
}
body.ttrss_main .hl div.title a {
  font-weight: 600;
  text-rendering: optimizelegibility;
  font-family: "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}
body.ttrss_main .hl a.title.high,
body.ttrss_main .hl span.hl-content.high .preview {
  color: #00aa00;
}
body.ttrss_main .hl.vgrlf .feed {
  display: none;
}
body.ttrss_main .hl.Unread {
  background: white;
}
body.ttrss_main .hl.Unread div.title a {
  color: black;
}
body.ttrss_main .hl.active div.title a {
  color: #b87d2c;
  /* text-shadow : 1px 1px 2px #fff; */
}
body.ttrss_main .hl.active {
  background: #b87d2c ! important;
}
body.ttrss_main .hl.active,
body.ttrss_main .hl.Selected {
  color: white;
  background: #9c7948;
}
body.ttrss_main .hl.active a,
body.ttrss_main .hl.Selected a,
body.ttrss_main .hl.active .feed a,
body.ttrss_main .hl.Selected .feed a,
body.ttrss_main .hl.active .hl-content a.title,
body.ttrss_main .hl.Selected .hl-content a.title,
body.ttrss_main .hl.active span,
body.ttrss_main .hl.Selected span {
  color: white;
}
body.ttrss_main .hl.Grayed {
  color: #909090;
}
body.ttrss_main #content-insert blockquote,
body.ttrss_main #headlines-frame blockquote,
body.ttrss_main .dijitContentPane blockquote {
  margin: 5px 0px 5px 0px;
  color: #ccc;
  padding-left: 10px;
  border: 0px solid #ccc;
  border-left-width: 4px;
}
body.ttrss_main #content-insert code,
body.ttrss_main #headlines-frame code,
body.ttrss_main .dijitContentPane code {
  color: #009900;
  font-family: monospace;
}
body.ttrss_main #content-insert pre,
body.ttrss_main #headlines-frame pre,
body.ttrss_main .dijitContentPane pre {
  margin: 5px 0px 5px 0px;
  padding: 10px;
  color: #ccc;
  font-family: monospace;
  font-size: 12px;
  border: 0px solid #ccc;
  background: #222;
  display: block;
  max-width: 98%;
  overflow: auto;
}
body.ttrss_main div.prefHelp {
  color: #ccc;
  padding: 5px;
}
body.ttrss_main span.preview {
  color: #999;
  font-weight: normal;
  font-size: 12px;
  padding-left: 4px;
}
body.ttrss_main .label {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff7d5;
  font-size: 9px;
  color: #ccc;
  font-weight: normal;
  margin-left: 2px;
  padding: 2px 4px;
  white-space: nowrap;
}
body.ttrss_main i.marked-pic,
body.ttrss_main i.pub-pic {
  cursor: pointer;
  color: #ccc;
}
body.ttrss_main div.errorExplained {
  border: 1px solid #222;
  margin: 5px 0px 5px 0px;
  padding: 5px;
}
body.ttrss_main ul.browseFeedList {
  height: 300px;
  width: 100%;
  overflow: auto;
  border-width: 0px 1px 1px 1px;
  border-color: #222;
  border-style: solid;
  margin: 0px 0px 5px 0px;
  background-color: white;
  list-style-type: none;
  padding: 0px;
}
body.ttrss_main ul.browseFeedList li {
  display: flex;
  align-items: center;
}
body.ttrss_main ul.browseFeedList li > * {
  margin: 2px;
}
body.ttrss_main .browseFeedList span.subscribers {
  color: #808080;
}
body.ttrss_main ul.compact {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
body.ttrss_main ul.compact li {
  margin: 0px;
  padding: 0px;
}
body.ttrss_main .noborder {
  border-width: 0px;
}
body.ttrss_main #overlay {
  background: #333;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
}
body.ttrss_main #overlay_inner {
  font-weight: bold;
  margin: 1em;
}
body.ttrss_main div.loadingPrompt {
  padding: 1em;
  text-align: center;
  font-weight: bold;
}
body.ttrss_main div.whiteBox {
  margin-left: 1px;
  text-align: center;
  padding: 1em 1em 0px 1em;
  font-size: 11px;
  border: 0px solid #222;
  border-bottom-width: 1px;
}
body.ttrss_main div#headlines-frame.wide .title {
  overflow: visible;
  white-space: normal;
}
body.ttrss_main div#headlines-frame.wide .hl .feed {
  display: none;
}
body.ttrss_main .dijitDialog header,
body.ttrss_main .dijitDialog .dlgSec,
body.ttrss_main .dijitDialog .dlgSecHoriz {
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.ttrss_main .dijitDialog section,
body.ttrss_main .dijitDialog .dlgSecCont {
  margin: 10px 20px;
}
body.ttrss_main .dijitDialog header.horizontal + section,
body.ttrss_main .dijitDialog .dlgSecHoriz + .dlgSecCont {
  margin: 10px 0;
}
body.ttrss_main .dijitDialog section.narrow {
  margin: 0;
}
body.ttrss_main .dijitDialog section fieldset > label,
body.ttrss_main .dijitDialog div.dlgSecCont fieldset > label,
body.ttrss_main .dijitDialog div.dlgSecSimple fieldset > label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  min-width: 140px;
  text-align: right;
}
body.ttrss_main .dijitDialog section fieldset > label.checkbox,
body.ttrss_main .dijitDialog div.dlgSecCont fieldset > label.checkbox,
body.ttrss_main .dijitDialog div.dlgSecSimple fieldset > label.checkbox {
  font-weight: normal;
  display: inline;
}
body.ttrss_main .dijitDialog section fieldset > label.inline,
body.ttrss_main .dijitDialog div.dlgSecCont fieldset > label.inline,
body.ttrss_main .dijitDialog div.dlgSecSimple fieldset > label.inline {
  display: inline;
}
body.ttrss_main .dijitDialog section fieldset,
body.ttrss_main .dijitDialog div.dlgSecCont fieldset,
body.ttrss_main .dijitDialog div.dlgSecSimple fieldset {
  border-width: 0px;
  padding: 5px 0px;
}
body.ttrss_main .dijitDialog section fieldset.narrow,
body.ttrss_main .dijitDialog div.dlgSecCont fieldset.narrow,
body.ttrss_main .dijitDialog div.dlgSecSimple fieldset.narrow {
  padding: 2px 0px;
}
body.ttrss_main .dijitDialog section fieldset.align-right,
body.ttrss_main .dijitDialog div.dlgSecCont fieldset.align-right,
body.ttrss_main .dijitDialog div.dlgSecSimple fieldset.align-right {
  text-align: right;
}
body.ttrss_main .dijitDialog footer,
body.ttrss_main .dijitDialog .dlgButtons {
  margin-top: 5px;
  text-align: right;
}
body.ttrss_main .dijitDialog footer.text-center {
  text-align: center;
}
body.ttrss_main i.icon-label {
  color: #fff7d5;
}
body.ttrss_main div#cmdline {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 11px;
  color: #ccc;
  font-weight: bold;
  background-color: #333;
  border: 1px solid #b87d2c;
  padding: 3px 5px 3px 5px;
  z-index: 5;
}
body.ttrss_main #feed_browser_spinner {
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
body.ttrss_main #exceptionDlg .dijitDialogTitleBar {
  background: red;
  color: white;
}
body.ttrss_main #exceptionDlg .dijitDialogPaneContent {
  background: #fcc;
}
body.ttrss_main #exceptionDlg .error-contents .message {
  color: red;
}
body.ttrss_main #exceptionDlg .error-contents textarea {
  width: 99%;
  height: 200px;
}
body.ttrss_main #exceptionDlg .error-contents .dlgButtons {
  text-align: center;
}
body.ttrss_main #content-wrap {
  padding: 0px;
  border-width: 0px;
  margin: 0px;
}
body.ttrss_main #feeds-holder {
  padding: 0px;
  border: 0px solid #222;
  overflow: hidden;
  background: #222;
  box-shadow: inset -1px 0px 2px -1px rgba(0, 0, 0, 0.1);
  -webkit-overflow-scrolling: touch;
}
body.ttrss_main #feeds-holder #feedTree {
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  font-family: "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.ttrss_main #feeds-holder #feedTree .counterNode.aux {
  background: #222;
  color: #e6e6e6;
  border-color: #080808;
}
body.ttrss_main #feeds-holder #feedTree .counterNode {
  font-weight: bold;
  display: inline-block;
  font-size: 9px;
  text-align: center;
  border: 1px solid #cd8b31;
  color: white;
  background: #cd8b31;
  border-radius: 4px;
  vertical-align: middle;
  float: right;
  position: relative;
  line-height: 14px;
  margin-right: 8px;
  margin-top: 2px;
  min-width: 23px;
  height: 14px;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .loadingExpando {
  left: -3px;
  height: 22px;
  position: relative;
  top: -3px;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeRow .dijitTreeLabel.Unread {
  font-weight: bold;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeRow.Error .dijitTreeLabel {
  color: red;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .dijitTreeRow {
  border: 1px solid transparent;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .dijitTreeRowSelected {
  box-shadow: -1px 0px 2px -1px rgba(0, 0, 0, 0.1);
  border-color: #222 transparent;
  background: #333;
  color: #333;
}
body.ttrss_main #feeds-holder #feedTree .dijitIcon.feed-icon {
  margin-right: 2px;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-inbox {
  color: #555;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-archive {
  color: #c77b2e;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-star {
  color: #ffc069;
  font-size: 21px;
  top: -4px;
  left: -4px;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-rss_feed {
  color: #ff7c4b;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-whatshot {
  color: #69C671;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-restore {
  font-weight: bold;
  left: -3px;
  color: #b87d2c;
}
body.ttrss_main #headlines-wrap-inner {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}
body.ttrss_main #headlines-frame[is-vfeed="0"] .header .feed {
  display: none;
}
body.ttrss_main #headlines-frame {
  padding: 0px;
  border: 0px #222;
  margin-top: 0px;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
body.ttrss_main #headlines-frame div.feed-title {
  border: 0px solid #b87d2c;
  border-bottom-width: 1px;
  padding: 5px 8px;
}
body.ttrss_main #headlines-frame div.feed-title a.title {
  color: #ccc;
  font-weight: bold;
}
body.ttrss_main #headlines-frame div.feed-title a {
  color: #ccc;
}
body.ttrss_main #headlines-frame div.feed-title a:hover {
  color: #b87d2c;
}
body.ttrss_main #toolbar-frame_splitter {
  display: none;
}
body.ttrss_main #toolbar-frame {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  white-space: nowrap;
  font-size: 12px;
}
body.ttrss_main #toolbar-frame #toolbar {
  background: white;
  border: 0px solid #222;
  border-bottom-width: 1px;
  padding-left: 4px;
  height: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #ccc;
  font-size: 12px;
  align-items: center;
}
body.ttrss_main #toolbar-frame #toolbar .dijitSelect,
body.ttrss_main #toolbar-frame #toolbar .dijitDropDownButton .dijitButtonNode,
body.ttrss_main #toolbar-frame #toolbar .dijitComboButton .dijitButtonNode {
  border: 0px;
}
body.ttrss_main #toolbar-frame #toolbar i.net-alert,
body.ttrss_main #toolbar-frame #toolbar .left i.icon-error {
  color: red;
}
body.ttrss_main #toolbar-frame #toolbar i.log-alert {
  color: #ddba1c;
}
body.ttrss_main #toolbar-frame #toolbar #toolbar-headlines {
  padding-right: 4px;
  flex-grow: 2;
  display: flex;
}
body.ttrss_main #toolbar-frame #toolbar #toolbar-headlines .left {
  flex-grow: 2;
  display: flex;
  align-items: center;
}
body.ttrss_main #toolbar-frame #toolbar #toolbar-headlines .left img {
  vertical-align: middle;
  margin-right: 8px;
}
body.ttrss_main #toolbar-frame #toolbar #toolbar-headlines .right {
  display: flex;
  align-items: center;
}
body.ttrss_main #toolbar-frame #toolbar #updates-available {
  color: #69C671;
  padding-right: 4px;
}
body.ttrss_main #toolbar-frame #toolbar #selected_prompt {
  font-style: italic;
  text-align: right;
  margin-right: 4px;
  color: #b87d2c;
}
@media (max-width: 992px) {
  body.ttrss_main #toolbar-frame #toolbar #selected_prompt {
    display: none;
  }
}
body.ttrss_main #header {
  border-width: 0px;
  text-align: right;
  color: #ccc;
  padding: 5px 5px 0px 0px;
  margin: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 5;
}
body.ttrss_main #content-insert {
  padding: 0px;
  border-color: #222;
  border-width: 0px;
  line-height: 1.5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
body.ttrss_main img.feed-icon,
body.ttrss_main img.icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
}
body.ttrss_main .player {
  display: inline-block;
  color: #ccc;
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  padding: 0px 4px 0px 4px;
  margin: 0px 2px 0px 2px;
  width: 50px;
  text-align: center;
  background: #333;
}
body.ttrss_main .player.playing {
  color: #00c000;
  border-color: #00c000;
}
body.ttrss_main .player:hover {
  background: #222;
  cursor: pointer;
}
body.ttrss_main #headlines-frame.auto_catchup #headlines-spacer {
  height: 100%;
}
body.ttrss_main #headlines-spacer {
  margin-left: 1px;
  text-align: center;
  color: #ccc;
  font-size: 11px;
  font-style: italic;
}
body.ttrss_main #headlines-spacer a,
body.ttrss_main #headlines-spacer span {
  color: #ccc;
  padding: 10px;
  display: block;
}
body.ttrss_main #headlines-spacer a:hover {
  color: #b87d2c;
}
body.ttrss_main ul#filterDlg_Matches,
body.ttrss_main ul#filterDlg_Actions {
  max-height: 100px;
  overflow: auto;
  list-style-type: none;
  border-style: solid;
  border-color: #222;
  border-width: 1px 1px 1px 1px;
  background-color: #333;
  margin: 0px 0px 5px 0px;
  padding: 4px;
  min-height: 16px;
}
body.ttrss_main ul#filterDlg_Matches li,
body.ttrss_main ul#filterDlg_Actions li {
  cursor: pointer;
}
body.ttrss_main ul#filterDlg_Matches li .dijitCheckBox,
body.ttrss_main ul#filterDlg_Actions li .dijitCheckBox {
  margin-right: 4px;
}
body.ttrss_main ul.hotkeys-help li {
  display: flex;
}
body.ttrss_main ul.hotkeys-help li.desc {
  flex-grow: 2;
}
body.ttrss_main ul.hotkeys-help .hk {
  color: #b87d2c;
  width: 100px;
}
body.ttrss_main ul.hotkeys-help h3 {
  margin: 8px 0px;
}
body.ttrss_main select.attachments {
  display: block;
  margin-top: 10px;
  max-width: 120px;
}
body.ttrss_main #filterDlg_feeds select {
  height: 150px;
  width: 410px;
}
body.ttrss_main span.highlight {
  background-color: #ffff00;
  color: #cc90cc;
}
body.ttrss_main #headlines-frame .dijitCheckBox {
  margin-right: 4px;
}
body.ttrss_main #editTagsDlg {
  overflow: visible;
}
body.ttrss_main #feedEditDlg img.feedIcon {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  max-width: 20px;
  max-height: 20px;
  height: auto;
  width: auto;
}
body.ttrss_main .dijitDialog h1:first-of-type,
body.ttrss_main .dijitDialog h2:first-of-type,
body.ttrss_main .dijitDialog h3:first-of-type,
body.ttrss_main .dijitDialog h4:first-of-type {
  margin-top: 0px;
}
body.ttrss_main i.icon-syndicate {
  color: #ff7c4b;
  margin-right: 8px;
  border: 1px solid #ff7c4b;
  border-radius: 4px;
}
body.ttrss_main i.icon-no-feed {
  opacity: 0.2;
}
body.ttrss_main .dijitTreeRow.UpdatesDisabled .dijitTreeLabel {
  opacity: 0.5;
}
body.ttrss_main #floatingTitle.marked i.marked-pic,
body.ttrss_main .cdm.marked .left i.marked-pic,
body.ttrss_main .hl.marked .left i.marked-pic {
  color: #ffc069;
}
body.ttrss_main #floatingTitle.published i.pub-pic,
body.ttrss_main .cdm.published .left i.pub-pic,
body.ttrss_main .hl.published .left i.pub-pic {
  color: #ff7c4b;
}
body.ttrss_main .score-high i.icon-score {
  color: #69C671;
}
body.ttrss_main .score-low i.icon-score {
  color: #500;
}
body.ttrss_main .score-neutral i.icon-score {
  opacity: 0.5;
}
body.ttrss_main i.icon-score {
  cursor: pointer;
}
body.ttrss_main .panel {
  border: 1px solid #222;
  background: #222;
  padding: 4px;
}
body.ttrss_main .dijitDialog .panel {
  background: #333;
}
body.ttrss_main .panel-scrollable {
  overflow: auto;
  height: 200px;
}
body.ttrss_main ul.list li {
  padding: 2px;
}
body.ttrss_main ul.list {
  padding: 4px;
}
body.ttrss_main ul.list-unstyled {
  list-style-type: none;
}
body.ttrss_main .text-center {
  text-align: center;
}
body.ttrss_main #prefFilterTestResultList .preview {
  margin: 8px;
}
body.ttrss_main #prefFilterTestResultList .title {
  font-weight: bold;
}
body.ttrss_main #prefFilterTestResultList .feed {
  color: #b87d2c;
}
body.ttrss_main .alert,
body.ttrss_utility .alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 10px;
  /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}
body.ttrss_main .alert .close,
body.ttrss_utility .alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
  cursor: pointer;
}
body.ttrss_main .pull-right,
body.ttrss_utility .pull-right {
  float: right;
}
body.ttrss_main .pull-left,
body.ttrss_utility .pull-left {
  float: left;
}
body.ttrss_main .text-error,
body.ttrss_utility .text-error {
  color: #b94a48;
}
body.ttrss_main .text-info,
body.ttrss_utility .text-info {
  color: #3a87ad;
}
body.ttrss_main .text-success,
body.ttrss_utility .text-success {
  color: #468847;
}
body.ttrss_main .text-warning,
body.ttrss_utility .text-warning {
  color: #a47e3c;
}
body.ttrss_main .alert,
body.ttrss_utility .alert,
body.ttrss_main .alert h4,
body.ttrss_utility .alert h4 {
  color: #c09853;
}
body.ttrss_main .alert h4,
body.ttrss_utility .alert h4 {
  margin: 0;
}
body.ttrss_main .alert-success,
body.ttrss_utility .alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
body.ttrss_main .alert-success h4,
body.ttrss_utility .alert-success h4 {
  color: #468847;
}
body.ttrss_main .alert-danger,
body.ttrss_utility .alert-danger,
body.ttrss_main .alert-error,
body.ttrss_utility .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
body.ttrss_main .alert-danger h4,
body.ttrss_utility .alert-danger h4,
body.ttrss_main .alert-error h4,
body.ttrss_utility .alert-error h4 {
  color: #b94a48;
}
body.ttrss_main .alert-info,
body.ttrss_utility .alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
body.ttrss_main .alert-info h4,
body.ttrss_utility .alert-info h4 {
  color: #3a87ad;
}
body.ttrss_main hr,
body.ttrss_utility hr {
  border: 0px solid #ccc;
  border-bottom-width: 1px;
}
body.ttrss_main .text-muted,
body.ttrss_utility .text-muted {
  color: #ccc;
}
body.ttrss_main .small,
body.ttrss_utility .small {
  font-size: 11px;
}
body.ttrss_main div.autocomplete,
body.ttrss_utility div.autocomplete {
  position: absolute;
  width: 250px;
  background-color: #333;
  border: 1px solid #222;
  margin: 0px;
  padding: 0px;
}
body.ttrss_main div.autocomplete ul,
body.ttrss_utility div.autocomplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
body.ttrss_main div.autocomplete ul li.selected,
body.ttrss_utility div.autocomplete ul li.selected {
  background-color: #1a1a1a;
}
body.ttrss_main div.autocomplete ul li,
body.ttrss_utility div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  cursor: pointer;
}
::selection {
  background: #b87d2c;
  color: #333;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #b87d2c;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
video::-webkit-media-controls-overlay-play-button {
  display: none;
}
.cdm i.material-icons {
  color: #777;
}
.cdm .header,
.cdm .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cdm .header img,
.cdm .footer img,
.cdm .footer i.material-icons {
  margin: 0px 4px;
  vertical-align: middle;
}
.cdm .header {
  align-items: center;
}
.cdm .header > * {
  padding: 4px;
  white-space: nowrap;
}
.cdm .header .left,
.cdm .header .right {
  display: flex;
  align-items: center;
}
.cdm .header .left i.material-icons,
.cdm .header .right i.material-icons {
  margin-left: 2px;
  padding: 2px;
  transition: color 0.2s linear;
  user-select: none;
  font-size: 21px;
}
.cdm .header .titleWrap {
  flex-grow: 2;
}
.cdm .header span.updated {
  color: #ccc;
  font-weight: normal;
  font-size: 11px;
  white-space: nowrap;
}
.cdm .header input {
  margin: 0px 4px;
}
.cdm .footer {
  height: 30px;
  padding-left: 5px;
  font-weight: normal;
  color: #ccc;
  clear: both;
  align-items: center;
}
.cdm .footer .left {
  flex-grow: 2;
}
.cdm .intermediate {
  margin-top: 10px;
  margin-left: 10px;
}
.cdm .content-inner {
  margin: 10px;
  line-height: 1.5;
  font-size: 16px;
}
.cdm .intermediate img,
.cdm .intermediate video,
.cdm .content-inner img,
.cdm .content-inner video {
  border-width: 0px;
  max-width: 98%;
  height: auto;
}
.cdm.expanded {
  /*margin-top : 4px;
	margin-bottom : 4px;*/
}
.cdm.expanded .collapse,
.cdm.expanded .excerpt {
  display: none;
}
.cdm.expanded .titleWrap {
  white-space: normal;
}
.cdm.expanded .footer {
  border: 0px solid #222;
  border-bottom-width: 1px;
}
.cdm.expanded > hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
div.cdm.expanded div.header {
  background: transparent ! important;
}
div.cdm.expanded div.header a.title {
  font-size: 16px;
  color: #999;
  font-weight: 600;
  transition: color 0.2s, background 0.2s;
  text-rendering: optimizelegibility;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.cdm.expanded.active {
  background: white;
}
div.cdm.expanded.active div.header a.title {
  color: #b87d2c;
}
div.cdm.expanded.Unread div.header a.title {
  color: black;
}
div.cdm.expanded div.content {
  color: #ccc;
}
div.cdm.expanded.Unread div.content {
  color: black;
}
div.cdm.active div.content {
  color: black;
}
div.cdm.vgrlf .feed {
  display: none;
}
.cdm div.feed-title {
  border: 0px solid #b87d2c;
  border-bottom-width: 1px;
  padding: 5px 3px 5px 5px;
}
.cdm div.feed-title a.title {
  color: #ccc;
  font-weight: bold;
}
.cdm div.feed-title a {
  color: #ccc;
}
.cdm div.feed-title a:hover {
  color: #b87d2c;
}
.cdm div.header span.feed {
  float: right;
  font-weight: normal;
  font-style: italic;
}
.cdm div.header div.feed,
.cdm div.header div.feed a {
  vertical-align: middle;
  color: #ccc;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
}
.cdm div.content-inner p {
  /*max-width : 650px;*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.cdm div.content-inner iframe {
  min-width: 50%;
  max-width: 98%;
}
.cdm div.header span.author {
  white-space: nowrap;
  color: #ccc;
  font-size: 11px;
  font-weight: normal;
}
.cdm .feed a {
  border-radius: 4px;
  display: inline-block;
  padding: 1px 4px 1px 4px;
}
#main:not(.expandable) div#floatingTitle .collapse {
  display: none;
}
div#floatingTitle {
  position: absolute;
  z-index: 5;
  top: 0px;
  right: 0px;
  left: 0px;
  border: 0px solid #222;
  border-bottom-width: 1px;
  background: white;
  color: #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1);
  align-items: center;
}
div#floatingTitle > * {
  white-space: nowrap;
  padding: 4px;
}
div#floatingTitle .left,
div#floatingTitle .right {
  display: flex;
  align-items: center;
}
div#floatingTitle .left i.material-icons,
div#floatingTitle .right i.material-icons {
  margin-left: 2px;
  font-size: 21px;
  padding: 2px;
  user-select: none;
}
div#floatingTitle .left i.icon-anchor,
div#floatingTitle .right i.icon-anchor {
  margin-left: 0px;
  margin-right: 1px;
  padding: 0px;
  color: #ccc;
  cursor: pointer;
}
div#floatingTitle .excerpt {
  display: none;
}
div#floatingTitle .collapse i.material-icons {
  color: #b87d2c;
  cursor: pointer;
}
div#floatingTitle span.author {
  color: #ccc;
  font-size: 11px;
  font-weight: normal;
}
div#floatingTitle a.title {
  font-size: 16px;
  color: #999;
  transition: color 0.2s, background 0.2s;
  font-weight: 600;
  text-rendering: optimizelegibility;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div#floatingTitle div.feed {
  padding-right: 10px;
  color: #ccc;
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  white-space: nowrap;
}
div#floatingTitle div.feed a {
  border-radius: 4px;
  display: inline-block;
  padding: 1px 4px 1px 4px;
}
div#floatingTitle span.updated {
  padding-right: 10px;
  white-space: nowrap;
  color: #ccc;
  font-size: 11px;
}
div#floatingTitle div.feed a {
  color: #ccc;
}
div#floatingTitle span.titleWrap {
  width: 100%;
  white-space: normal;
}
div#floatingTitle .feed-title > * {
  display: table-cell;
  vertical-align: middle;
}
div#floatingTitle .feed-title a.title {
  width: 100%;
}
div#floatingTitle .feed-title a.catchup {
  text-align: right;
  color: #ccc;
  padding-right: 10px;
  font-size: 11px;
  white-space: nowrap;
}
div#floatingTitle .feed-title a.catchup:hover {
  color: #b87d2c;
}
div#floatingTitle.Unread a.title {
  color: black;
}
.cdm.expandable {
  background-color: #222;
  border: 0px solid #222;
  border-bottom-width: 1px;
}
.cdm.expandable > hr {
  display: none;
}
.cdm.expandable div.header span.titleWrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cdm.expandable .excerpt {
  white-space: nowrap;
  font-size: 11px;
  color: #999;
  font-weight: normal;
  cursor: pointer;
}
.cdm.expandable:not(.active) {
  user-select: none;
}
.cdm.expandable.Unread {
  background: white;
}
.cdm.expandable.Selected:not(.active) {
  background: #9c7948;
}
.cdm.expandable.Selected:not(.active) a,
.cdm.expandable.Selected:not(.active) .header a.title,
.cdm.expandable.Selected:not(.active) span {
  color: white;
}
.cdm.expandable.active {
  background: white ! important;
}
div.cdm.expandable.active div.header span.titleWrap {
  white-space: normal;
}
div.cdm.expandable div.header a.title {
  font-weight: 600;
  color: #ccc;
  font-size: 14px;
  transition: color 0.2s, background 0.2s;
  text-rendering: optimizelegibility;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.cdm.expandable.Unread div.header a.title {
  color: black;
}
div.cdm.expandable.active .collapse i.material-icons {
  color: #b87d2c;
  cursor: pointer;
}
div.cdm.expandable.active .excerpt {
  display: none;
}
div.cdm.expandable.active div.header a.title {
  color: #b87d2c;
  font-size: 16px;
  font-weight: 600;
  text-rendering: optimizelegibility;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.cdm.expandable:not(.active) {
  cursor: pointer;
}
div.cdm.expandable:not(.active) .content,
div.cdm.expandable:not(.active) .collapse {
  display: none;
}
body.ttrss_prefs {
  background-color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body.ttrss_prefs h1,
body.ttrss_prefs h2,
body.ttrss_prefs h3,
body.ttrss_prefs h4 {
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #ccc;
}
body.ttrss_prefs .dijitContentPane h1:first-of-type,
body.ttrss_prefs .dijitContentPane h2:first-of-type,
body.ttrss_prefs .dijitContentPane h3:first-of-type {
  margin-top: 0px;
}
body.ttrss_prefs #footer,
body.ttrss_prefs #header {
  padding: 8px;
  font-size: 13px;
}
body.ttrss_prefs #header {
  float: right;
}
body.ttrss_prefs #footer_splitter {
  display: none;
}
body.ttrss_prefs #footer {
  background-color: #222;
  font-size: 13px;
  border: 0px;
  text-align: center;
}
body.ttrss_prefs #header img {
  vertical-align: middle;
  cursor: pointer;
}
body.ttrss_prefs .dijitTree#filterTree .dijitTreeIcon,
body.ttrss_prefs .dijitTree#labelTree .dijitTreeIcon,
body.ttrss_prefs .dijitTree#filterTree .dijitTreeIcon {
  display: none;
}
body.ttrss_prefs .dijitAccordionTitle i.material-icons {
  top: -1px;
  position: relative;
}
body.ttrss_prefs .dijitAccordionTitleSelected i.material-icons {
  color: white;
}
body.ttrss_prefs .dijitDialog #pref-profiles-list .dijitInlineEditBoxDisplayMode {
  padding: 0px;
}
body.ttrss_prefs div#feedlistLoading,
body.ttrss_prefs div#filterlistLoading,
body.ttrss_prefs div#labellistLoading {
  text-align: center;
  padding: 5px;
  color: #ccc;
}
body.ttrss_prefs div#feedlistLoading img,
body.ttrss_prefs div#filterlistLoading img,
body.ttrss_prefs div#labellistLoading {
  margin-right: 5px;
}
body.ttrss_prefs #errorButton {
  color: red;
}
body.ttrss_prefs .user-css-editor {
  height: 300px;
  width: 575px;
}
body.ttrss_prefs fieldset.prefs {
  min-height: 30px;
}
body.ttrss_prefs fieldset.prefs label:first-of-type {
  min-width: 300px;
}
body.ttrss_prefs fieldset.prefs .help-text {
  display: inline-block;
  margin-left: 10px;
}
body.ttrss_prefs fieldset.plugin label.description {
  width: 600px;
  margin-right: 150px;
  display: inline-block;
}
body.ttrss_prefs fieldset.plugin label.description .dijitCheckBox {
  margin-right: 10px;
}
body.ttrss_prefs table.prefErrorLog tr.errrow td {
  font-size: 10px;
}
body.ttrss_prefs table.prefErrorLog tr.errrow td.errno {
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}
body.ttrss_prefs table.prefErrorLog td.filename,
body.ttrss_prefs table.prefErrorLog td.login,
body.ttrss_prefs table.prefErrorLog td.timestamp {
  color: #ccc;
}
body.ttrss_prefs hr {
  border-color: #ecf4ff;
  max-width: 100%;
}
body.ttrss_prefs .phpinfo table {
  border-collapse: collapse;
}
body.ttrss_prefs .phpinfo td.e,
body.ttrss_prefs .phpinfo td.v {
  border: 1px solid #ccc;
}
body.ttrss_prefs .phpinfo td.e {
  font-weight: bold;
}
body.ttrss_prefs .phpinfo td.v {
  font-family: monospace;
  word-break: break-all;
}
body.ttrss_prefs fieldset,
body.ttrss_utility fieldset {
  border-width: 0px;
  padding: 5px 0px;
}
body.ttrss_prefs fieldset.narrow,
body.ttrss_utility fieldset.narrow {
  padding: 2px 0px;
}
body.ttrss_prefs fieldset.align-right,
body.ttrss_utility fieldset.align-right {
  text-align: right;
}
body.ttrss_prefs fieldset > label:first-of-type,
body.ttrss_utility fieldset > label:first-of-type {
  min-width: 140px;
  margin-right: 20px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
body.ttrss_prefs fieldset > label.checkbox,
body.ttrss_utility fieldset > label.checkbox {
  display: inline;
  font-weight: normal;
}
body.ttrss_utility.sanity_failed {
  background: #900;
}
body.ttrss_utility {
  background: #222;
  color: #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 4em;
}
body.ttrss_utility .content {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1);
}
body.ttrss_utility .content h2:first-of-type {
  margin-top: 0;
}
body.ttrss_utility .content h2,
body.ttrss_utility .content h3,
body.ttrss_utility .content h4 {
  color: #b87d2c;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.ttrss_utility .content h2 {
  font-size: 18px;
}
body.ttrss_utility .content h3 {
  font-size: 16px;
}
body.ttrss_utility a {
  color: #b87d2c;
  text-decoration: none;
}
body.ttrss_utility a:hover,
body.ttrss_utility a:focus {
  color: #664518;
  text-decoration: underline;
}
body.ttrss_utility h1 {
  color: gray;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 10px 0 0 0;
}
body.ttrss_utility .footer {
  text-align: center;
  padding-top: 10px;
}
body.ttrss_utility .footer a {
  color: gray;
}
body.ttrss_utility .footer a:hover {
  color: #b87d2c;
}
body.ttrss_utility form {
  margin: 0;
}
body.ttrss_utility.otp .content fieldset > label {
  display: inline;
}
body.ttrss_utility.ttrss_login {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.ttrss_utility.ttrss_login .container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
body.ttrss_utility.ttrss_login .container .content {
  padding: 40px;
}
body.ttrss_utility.installer,
body.ttrss_utility.feed_debugger {
  margin: 2em;
}
body.ttrss_utility.share_popup {
  margin: 0;
  padding: 0;
  background: white;
}
body.ttrss_utility.share_popup .content {
  padding: 15px;
  border-width: 0;
  box-shadow: none;
}
.flat li {
  padding: 2px;
}
.flat #feedTree .dijitTreeContent .dijitInline {
  vertical-align: baseline;
}
.flat .dijitButton i.material-icons {
  position: relative;
  top: -1px;
}
.flat .tabLabel > i.material-icons {
  position: relative;
  top: -1px;
}
.flat #filterDlg_Matches span.filterRule {
  color: green;
}
.flat #filterTree .filterRules li.inverse,
.flat #filterDlg_Matches span.filterRule.inverse {
  color: red;
}
.flat .dijitToolbar {
  font-size: 13px;
  padding: 0px;
}
.flat .dijitAccordionContainer {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.flat .dijitCheckBox.dijitCheckBoxChecked {
  background-color: #69C671;
  border-color: #45b74f;
}
.flat .dijitMenu .dijitMenuItem .dijitMenuItemLabel {
  padding: 4px 8px;
  font-size: 13px;
}
.flat .dijitMenu .dijitMenuItem.dijitDisabled:not(.dijitMenuItemSelected) .dijitMenuItemLabel {
  color: #d29745;
}
.flat .dijitMenu .dijitMenuItem td {
  padding: 0px;
}
.flat .dijitCheckBox {
  margin: 1px;
}
.flat .dijitCheckBox:before {
  font-family: "flat-icon";
  content: "\f00c";
  color: white;
}
.flat .dijitTab i.material-icons,
.flat .dijitAccordionInnerContainer:not(.dijitSelected) i.material-icons {
  color: #b87d2c;
}
.flat .dijitTree .dijitFolderClosed,
.flat .dijitTree .dijitFolderOpened {
  display: none;
}
.flat .dijitTree .dijitTreeRowSelected .filterRules li {
  color: white;
}
.flat .dijitTree .dijitTreeRowSelected .dijitTreeExpando {
  color: #b87d2c;
}
.flat .dijitTree .dijitTreeNode .dijitTreeRow.dijitTreeRowSelected {
  color: white;
}
.flat .dijitTree .dijitTreeRow .dijitTreeExpando {
  position: relative;
  top: -2px;
}
.flat .dijitTree .labelParam {
  float: right;
  margin-right: 16px;
}
.flat .dijitTree .dijitTreeRow.filterDisabled {
  opacity: 0.5;
}
.flat .dijitTree .dijitTreeRow.filterDisabled .filterRules {
  filter: saturate(0%);
}
.flat .dijitTree .feedParam {
  float: right;
}
.flat .dijitTree .filterRules {
  font-size: 12px;
  line-height: normal;
  white-space: normal;
  margin-left: 28px;
}
.flat .dijitTree .filterRules li {
  color: green;
}
.flat .dijitTree .dijitTreeContainer {
  max-width: 100%;
}
.flat .dijitTree .dijitTreeRow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.flat label.dijitButton {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.flat label.dijitButton:hover {
  background-color: #222;
}
.flat .dijitTree .dijitTreeNode .dijitTreeRow {
  padding: 4px 0px 4px;
  border-width: 1px;
  color: #ccc;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../lib/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../lib/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../lib/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../lib/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
body.flat.ttrss_main.ttrss_prefs #main,
body.flat.ttrss_main.ttrss_prefs #footer {
  background: #222;
}
body.flat.ttrss_main.ttrss_prefs #footer a {
  color: #fff;
}
body.flat.ttrss_main.ttrss_prefs td.filename,
body.flat.ttrss_main.ttrss_prefs div.prefHelp {
  color: #999999;
}
body.flat.ttrss_main {
  /*
	.post .content img,
	.cdm .content-inner img,
	.post .content video,
	.cdm .content-inner video {
		transition : opacity 0.2s linear, filter 0.2s linear;
	}

	.post .content img:not(:hover),
	.cdm .content-inner img:not(:hover),
	.post .content video:not(:hover),
	.cdm .content-inner video:not(:hover) {
		opacity : 0.5;
		filter: grayscale(80%);
	} */
}
body.flat.ttrss_main img[src*='indicator_white.gif'] {
  filter: invert(1);
}
body.flat.ttrss_main a:hover {
  color: #dcae6e;
}
body.flat.ttrss_main #main,
body.flat.ttrss_main #overlay {
  color: #ccc;
  background: #333;
}
body.flat.ttrss_main #toolbar-frame #toolbar {
  background: #222;
  color: #e6e6e6;
}
body.flat.ttrss_main #feeds-holder {
  background: #222;
  box-shadow: inset -1px 0px 2px -1px #666;
}
body.flat.ttrss_main #feeds-holder #feedTree .counterNode.aux {
  background: #222;
  color: #ccc;
  border-color: #333;
}
body.flat.ttrss_main #feeds-holder #feedTree .dijitTreeRowSelected {
  background: #333;
  border-color: #333 transparent;
  color: #e6e6e6;
}
body.flat.ttrss_main #feeds-holder #feedTree .dijitTreeRowSelected .dijitTreeLabel {
  text-shadow: none;
}
body.flat.ttrss_main #floatingTitle {
  background-color: #333;
}
body.flat.ttrss_main #floatingTitle .feed a {
  color: #e6e6e6;
}
body.flat.ttrss_main #floatingTitle i.material-icons {
  opacity: 0.7;
}
body.flat.ttrss_main div#floatingTitle.Unread a.title {
  color: #e6e6e6;
}
body.flat.ttrss_main #headlines-frame .hl:not(.active):not(.Selected):not(.Unread),
body.flat.ttrss_main #headlines-frame .cdm.expandable:not(.active):not(.Selected):not(.Unread) {
  background: #333;
}
body.flat.ttrss_main #headlines-frame .hl.Unread:not(.active):not(.Selected),
body.flat.ttrss_main #headlines-frame .cdm.expandable.Unread:not(.active):not(.Selected) {
  background: #222;
}
body.flat.ttrss_main #headlines-frame .cdm.expanded {
  background: #333;
}
body.flat.ttrss_main #headlines-frame .hl.Unread .title,
body.flat.ttrss_main #headlines-frame .cdm.Unread .title {
  color: #e6e6e6;
}
body.flat.ttrss_main #headlines-frame .hl.active > *,
body.flat.ttrss_main #headlines-frame .hl.Selected > *,
body.flat.ttrss_main #headlines-frame .cdm.expandable.Selected > * {
  filter: invert(1);
}
body.flat.ttrss_main #headlines-frame .hl.active > * img,
body.flat.ttrss_main #headlines-frame .hl.Selected > * img,
body.flat.ttrss_main #headlines-frame .cdm.expandable.Selected > * img {
  filter: invert(1);
}
body.flat.ttrss_main #headlines-frame .hl.active .dijitCheckBox,
body.flat.ttrss_main #headlines-frame .hl.Selected .dijitCheckBox,
body.flat.ttrss_main #headlines-frame .cdm.expandable.Selected .dijitCheckBox {
  filter: invert(1);
}
body.flat.ttrss_main #headlines-frame .hl.Selected.marked i.marked-pic,
body.flat.ttrss_main #headlines-frame .cdm.expandable.Selected.marked i.marked-pic,
body.flat.ttrss_main #headlines-frame .hl.active.marked i.marked-pic {
  filter: invert(1);
}
body.flat.ttrss_main #headlines-frame .hl.Selected.published i.pub-pic,
body.flat.ttrss_main #headlines-frame .cdm.expandable.Selected.published i.pub-pic,
body.flat.ttrss_main #headlines-frame .hl.active.published i.pub-pic {
  filter: invert(1);
}
body.flat.ttrss_main #headlines-frame .cdm.expanded.active .title,
body.flat.ttrss_main #headlines-frame .cdm.expandable.active .title {
  color: #b87d2c;
}
body.flat.ttrss_main #headlines-frame .cdm.expandable.active {
  background: #222 ! important;
}
body.flat.ttrss_main #headlines-frame .hl,
body.flat.ttrss_main #headlines-frame .cdm {
  color: #ccc;
}
body.flat.ttrss_main #headlines-frame .hl .title,
body.flat.ttrss_main #headlines-frame .cdm .title {
  color: #ccc;
}
body.flat.ttrss_main #headlines-frame .hl .author,
body.flat.ttrss_main #headlines-frame .cdm .author {
  color: #999999;
}
body.flat.ttrss_main #headlines-frame .hl .updated,
body.flat.ttrss_main #headlines-frame .cdm .updated,
body.flat.ttrss_main #headlines-frame .hl .content,
body.flat.ttrss_main #headlines-frame .cdm .content {
  color: #ccc;
}
body.flat.ttrss_main #headlines-frame .hl .feed a,
body.flat.ttrss_main #headlines-frame .cdm .feed a {
  color: #e6e6e6;
}
body.flat.ttrss_main #headlines-frame .cdm .footer {
  border-color: #222;
  color: #ccc;
}
body.flat.ttrss_main #headlines-frame .left i.material-icons,
body.flat.ttrss_main #headlines-frame .left .dijitCheckBox {
  opacity: 0.7;
}
body.flat.ttrss_main .dijitToolbar .dijitSelect .dijitButtonContents,
body.flat.ttrss_main .dijitToolbar .dijitSelect .dijitButtonNode {
  transition: background-color 0.3s linear;
}
body.flat.ttrss_main .dijitToolbar .dijitSelect:not(.dijitHover) .dijitButtonContents,
body.flat.ttrss_main .dijitToolbar .dijitSelect:not(.dijitHover) .dijitButtonNode {
  background-color: #222;
}
body.flat.ttrss_main .dijitCheckBox:not(.dijitChecked)::before {
  color: #999999;
  background: #222;
}
body.flat.ttrss_main .text-muted {
  color: #999999;
}
body.flat.ttrss_main .dijitAccordionInnerContainerSelected .dijitAccordionTitle {
  color: white;
}
body.flat.ttrss_main .dijitDialog .dijitDialogPaneContent {
  background: #222;
}
body.flat.ttrss_main .dijitTab:not(.dijitTabChecked) {
  background: #222;
}
body.flat.ttrss_main .dijitTab.dijitTabChecked.dijitTabHover {
  color: #e6e6e6;
}
body.flat.ttrss_main label.dijitButton {
  border: 1px solid #666;
}
body.flat.ttrss_main label.dijitButton:hover {
  border-color: #2f2f2f;
  background-color: #333;
}
body.flat.ttrss_main textarea {
  color: #e6e6e6;
}
body.flat.ttrss_main code {
  color: #c90 ! important;
}
body.flat.ttrss_main .panel {
  background-color: #222;
  border-color: #666;
}
body.flat.ttrss_main .dijitDialog .panel {
  background-color: #333;
}
body.flat.ttrss_main #headlines-frame blockquote,
body.flat.ttrss_main #content-insert blockquote {
  color: #ccc;
  border-color: #b87d2c;
}
body.flat.ttrss_main pre {
  color: #ccc;
  background: #222 ! important;
}
body.flat.ttrss_main ul#filterDlg_Matches,
body.flat.ttrss_main ul#filterDlg_Actions {
  background: #222;
  border-color: #666;
}
body.flat.ttrss_main .article-note {
  background: #b87d2c;
  border-color: #b87d2c;
  color: #333;
}
body.flat.ttrss_main .article-note i.material-icons {
  color: #333;
}
body.flat.ttrss_main ::-webkit-scrollbar {
  width: 4px;
}
body.flat.ttrss_main ::-webkit-scrollbar-thumb {
  background-color: #666;
}
body.flat.ttrss_main ::-webkit-scrollbar-track {
  background-color: #222;
}
body.flat.ttrss_main .alert {
  background: #222;
  border-color: #664518;
}
/*# sourceMappingURL=night.css.map */